:root {
	--s1: #f9a16c;
	--s2: #fddfcd;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: inline-flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.rompetechos {
	width: 80vmin;
	height: 60vmin;
	position: absolute;
	bottom: 0;
	right: 0;
}

.rompetechos * {
	position: absolute;
}

.head {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}

.cranium {
	background: linear-gradient(0deg, var(--s2) , var(--s1));
	width: 48vmin;
	height: 44vmin;
	left: 21vmin;
	top: 9vmin;
	transform: rotate(-23deg);
	border-radius: 50% 50% 40% 50% / 45% 50% 50% 55%;
	box-shadow: -1vmin 0.5vmin 0 0.7vmin #000 inset, -0.5vmin -0.5vmin 0 0.41vmin #000 inset, 0.45vmin -1.4vmin 0 0.1vmin #000 inset;
}

.nose {
	background: linear-gradient(-155deg, var(--s1) , var(--s2));
	width: 20vmin;
	height: 18.95vmin;
	border-radius: 90% 100% 100% 100% / 100% 100% 90% 100%;
	transform: rotate(-15deg);
	top: 24.25vmin;
	left: 11vmin;
	box-shadow: 1.15vmin -0.75vmin 0 0.5vmin #000 inset, 0.5vmin 0.75vmin 0 0.5vmin #000 inset;
	z-index: 2;
}

.nose:before {
	content: "";
	position: absolute;
	background: radial-gradient(circle at 50% -420%, #fff0 0 10vmin, #000 0 10.325vmin, #fff0 0 100%);
	width: 10vmin;
	height: 2vmin;
	top: 17vmin;
	left: 8vmin;
	transform: rotate(-15deg);
}

.ear {
	background: linear-gradient(190deg, var(--s1) , var(--s2));
	width: 13.5vmin;
	height: 14.5vmin;
	border-radius: 100%;
	left: 61vmin;
	top: 28vmin;
	transform: rotate(14deg);
	box-shadow: 
		-1.5vmin -0.5vmin 0 0.125vmin #000 inset, 
		-0.25vmin 0.75vmin 0 0.25vmin #000 inset, 
		-1.5vmin -1vmin 0 0.25vmin #000 inset;
	z-index: 2;
}

.ear:before {
	content: "";
	position: absolute;
	background: radial-gradient(circle at 92% 9%, #000 0.5vmin, #fff0 calc(0.5vmin + 1px) 1vmin), #f000;
	width: 8vmin;
	height: 9vmin;
	transform: rotate(-15deg);
	top: 4.75vmin;
	left: 4vmin;
	border: 1.25vmin solid #000;
	border-radius: 80%;
	border-bottom-width: 0;
	border-right-color: #fff0;
	border-left-color: #fff0;
	border-left-width: 0;
}

.ear:after {
	content: "";
	position: absolute;
	width: 5vmin;
	height: 5vmin;
	transform: rotate(100deg);
	top: 3.95vmin;
	left: 2vmin;
	border: 2vmin solid #000;
	border-radius: 80%;
	border-bottom-width: 0;
	border-left-color: #fff0;
	border-right-color: #fff0;
	border-right-width: 0;
	background: conic-gradient(from -54deg at 20% 34%, black 0 25%, #fff0 0 100%);
	background-repeat: no-repeat; 	
}

.eyes {
	content: "";
	position: absolute;
	width: 27vmin;
	height: 21vmin;
	left: 20vmin;
	top: 12vmin;
	transform: rotate(8deg);
	z-index: 1;
}

.eye {
	background: #fff;
	width: 10.5vmin;
	height: 13vmin;
	top: 5.5vmin;
	left: 0.75vmin;
	border-radius: 100%;
	transform: rotate(8deg) skewY(-16deg);
	box-shadow: 0 0.125vmin 0 0.25vmin #000 inset, 0 -0.125vmin 0 0.25vmin #000 inset;
	z-index: 1;
}

.eye:before {
	content: "";
	background: #000;
	width: 3.5vmin;
	height: 4.25vmin;
	position: absolute;
	border-radius: 100%;
	top: 5.125vmin;
	left: 3.75vmin;
	transform: skew(4deg, 10deg) rotate(-9deg);
}

.eye + .eye {
	left: 10vmin;
	top: 3vmin;
	height: 17.5vmin;
	width: 16vmin;
	z-index: 0;
	transform: rotate(15deg) skewY(-5deg);
	border-radius: 100% 100% 92% 100%;
}

.eye + .eye:before {
	left: 3vmin;
	top: 8.125vmin;
	height: 4.5vmin;
	width: 4.5vmin;
	transform: skew(0deg, 10deg);
}

.eyebrowns {
	width: 27vmin;
	height: 19vmin;
	left: 23vmin;
}

.eyebrown, .mouth:before {
	background: radial-gradient(circle at 87% 82%, #fff0 5vmin, #000 calc(5vmin + 1px));
	width: 5vmin;
	height: 6vmin;
	left: 1vmin;
	top: 8.5vmin;
	transform: rotate(6deg) scale(0.85);
	border: 2vmin solid #fff;
	border-top: 2.5vmin solid #000;
	border-right: 0.75vmin solid #fff0;
	border-left: 1.5vmin solid #000;
	border-bottom: 0 solid #fff0;
	border-radius: 100% 33% 0 25%;
	background-repeat: no-repeat;
}

.eyebrown + .eyebrown {
	left: 18vmin;
	top: 5.75vmin;
	width: 4.5vmin;
	height: 5vmin;
	transform: rotate(104deg) scale(1.12);
	border-radius: 100% 40% 0 25%;
}

.eyebrown + .eyebrown:before, .mouth:after {
	content: "";
	position: absolute;
	width: 4vmin;
	height: 1vmin;
	top: -2.5vmin;
	left: -1.75vmin;
	border-top: 0.35vmin solid #000;
	border-radius: 100%;
	transform: rotate(-39deg) scale(1.5);
}

.mouth {
	width: 22vmin;
	height: 30vmin;
	left: 34vmin;
	top: 18.25vmin;
	transform: rotate(2deg);
	border-radius: 10% 10% 100% 100% / 10% 10% 50% 13%;
	background: radial-gradient(circle at 5% 23%, #fff0 16vmin, #000 calc(16vmin + 1px) 16.5vmin, #fff0 calc(16.5vmin + 1px) 100%);
	background-repeat: no-repeat;
	background-size: 80% 90%;
	background-position: 31% 60%;
}

.mouth:before {
	content: "";
	position: absolute;
	transform: rotateY(180deg) rotate(60deg) scale(0.6);
	left: 14vmin;
	top: -1vmin;	
}

.mouth:after {
	content: "";
	position: absolute;
	border-top: 0.5vmin solid #000;
	border-radius: 50%;
	transform: rotateY(180deg) rotate(-17deg) scale(0.85);
	left: 13.5vmin;
	top: -1.25vmin;
	width: 7vmin;
	border-right: 1.25vmin solid #000;
	height: 1.5vmin;
	border-bottom: 2vmin solid #fff0;
}

.mouth div {
	width: 17vmin;
	height: 15vmin;
	background: radial-gradient(circle at 100% -10%, #fff0 13vmin, #000 0 100%);
	left: 3.5vmin;
	top: 13vmin;
	border-radius: 80% 30% 70% 23%;
	transform: rotate(-80deg);
}

.glasses {
	position: absolute;
	background: #000;
	width: 20vmin;
	height: 0.5vmin;
	top: 29.5vmin;
	left: 42.5vmin;
	transform: rotate(18deg);
	z-index: 2;
}

.neck {
	background: radial-gradient(circle at 48% 0%, var(--s2) 7vmin, #000 calc(7vmin + 1px) 10vmin, #fff0 calc(10vmin + 1px) 100%);
	width: 5vmin;
	height: 7.5vmin;
	left: 53.75vmin;
	top: 48.5vmin;
	transform: rotate(-36deg) skew(2deg, 13deg);
	border-radius: 0 0 30% 20%;
	z-index: 2;
	border-left: 0.5vmin solid #000;
	border-right: 0.5vmin solid #000;
}

.neck:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1vmin;
	background: var(--s2);
	top: -0.25vmin;
}

.bow-tie {
	width: 13vmin;
	height: 22vmin;
	left: -5.25vmin;
	top: 0.5vmin;
	transform: rotate(-16deg) scale(0.5) rotateY(180deg);
	background: conic-gradient(from -56deg at 44% 96%, #fff0 0%, #000000 1% 25%, #ffffff00 26% 100%), linear-gradient(217deg, #fff 0.75vmin, #fff0 calc(0.75vmin + 1px) 100%), linear-gradient(135deg, #fff0 0.75vmin, #000000 calc(0.75vmin + 1px) 100%);
	background-repeat: no-repeat;
	background-size: 7vmin 7vmin, 7vmin 8vmin, 7vmin 8vmin;
	background-position: 5% 45%, 2% 91%, 2% 91%;
}

.bow-tie:before,
.bow-tie:after {
	content: "";
	background: linear-gradient(238deg, #fff0 0 5vmin, #fff 0 1vmin);
	width: 6vmin;
	height: 8vmin;
	border-radius: 0.5vmin;
	position: absolute;
	z-index: 0;
	left: 3.5vmin;
	top: 0.49vmin;
	border: 1vmin solid #000;
	border-top: 0;
	border-right: 0;
	transform: rotate(-77deg) skew(-13deg, -11deg);
	border-radius: 14% 0% 100% 14%;
}

.bow-tie:after {
	background: linear-gradient(199deg, #fff0 0 3vmin, #fff 0 1vmin);
	left: -6.5vmin;
	top: 5vmin;
	width: 10vmin;
	height: 5vmin;
	transform: rotate(-57deg) skew(-13deg, 9deg);
	border-radius: 10%;
	z-index: -1;
}

.body {
	background: linear-gradient(168deg, #FFF 6.5vmin, #0000 calc(6.57vmin + 1px) 100%), linear-gradient(153deg, #fff0 14vmin, #000 calc(14vmin + 1px) 100%);
	width: 35vmin;
	height: 15vmin;
	top: 45vmin;
	left: 45vmin;
	z-index: 0;
	border-radius: 0 8% 0 0;
}

.body:before, .body:after {
	content: "";
	background: radial-gradient(circle at -140% 53%, #fff0 10vmin, #fff calc(10vmin + 1px) 100%);
	position: absolute;
	width: 6vmin;
	height: 12vmin;
	left: 30vmin;
	top: 6vmin;
	transform: rotate(-36deg);
	border-radius: 10% 43% 0 0;
}

.body:after {
	left: 14.5vmin;
	width: 10vmin;
	height: 20vmin;
	top: 6.5vmin;
	border-radius: 41%;
	transform: rotate(-42deg);
	border: 0.5vmin solid #000;
}

.hair {
	position: absolute;
	left: 45vmin;
	top: 0;
	width: 35vmin;
	height: 35vmin;
}

.hair div {
	position: absolute;
	width: 9vmin;
	height: 35vmin;
	border: 0.51vmin solid #000;
	border-left-color: #fff0;
	border-bottom: 0.25vmin solid #fff0;
	border-top: 1vmin solid #000;
	border-radius: 10vmin 100% 100%;
	transform: rotate(-17deg);
	left: 4.75vmin;
}

.hair div + div {
	left: 3vmin;
	top: -5vmin;
	transform: rotate(-6deg);
	width: 13vmin;
	border-top-width: 0.95vmin;
	border-radius: 10vmin 100% 10%;
}

.hair div + div + div {
	left: 11vmin;
	top: 6vmin;
	transform: rotate(5deg);
	width: 10vmin;
	height: 14vmin;
	border-top-width: 1.25vmin;
}

.moustache {
	background: 
		radial-gradient(circle at 48% 25%, #000 0 1.5vmin, #fff0 calc(1.5vmin + 1px) 100% ), 
		radial-gradient(circle at 59% 12%, #000 0 1.5vmin, #fff0 calc(1.5vmin + 1px) 100% ), 
		radial-gradient(circle at 50% 20%, #000 0 1.5vmin, #fff0 calc(1.5vmin + 1px) 100% ), 
		radial-gradient(circle at 65% -6%, #000 0 2vmin, #fff0 calc(2vmin + 1px) 100% ), 
		radial-gradient(circle at 38% 2%, #000 0 3vmin, #fff0 calc(3vmin + 1px) 100% );
	width: 18vmin;
	height: 9vmin;
	left: 19vmin;
	top: 39.5vmin;
	transform: rotate(-27deg);
}

.moustache span {
	border-bottom: 0.25vmin solid #fff0;
	border-right: 0.5vmin solid #000;
	height: 11vmin;
	border-radius: 57%;
	width: 5vmin;
	transform: rotate(76deg);
	top: -7vmin;
	left: 2.5vmin;
}

.moustache span:nth-child(2) {
	transform: rotate(67deg);
	top: -6.25vmin;
	left: 2.5vmin;
	border-right-width: 0.55vmin;
}

.moustache span:nth-child(3) {
	transform: rotate(54deg);
	top: -5.25vmin;
	left: 2.25vmin;
}

.moustache span:nth-child(4) {
	transform: rotate(32deg);
	top: -4.25vmin;
	left: 2vmin;
	border-right-width: 0.5vmin;
}

.moustache span:nth-child(5) {
	transform: rotate(25deg);
	top: -1.5vmin;
	left: 2vmin;
	border-right-width: 0.55vmin;
	height: 6vmin;
	border-top: 3vmin solid #fff0;
}

.moustache span:nth-child(6) {
	transform: rotate(27deg);
	top: -2.5vmin;
	left: 3.75vmin;
	height: 10vmin;
	border-radius: 0% 100% 25% 0;
}

.moustache span:nth-child(7) {
	transform: rotate(9deg);
	top: -0.5vmin;
	left: 4.5vmin;
	border-top: 3vmin solid #fff0;
	height: 6vmin;

}

.moustache span:nth-child(8) {
	transform: rotate(-6deg);
	top: 0.125vmin;
	left: 5.15vmin;
	border-top: 2vmin solid #fff0;
	height: 7vmin;
	border-radius: 10%;
}

.moustache span:nth-child(9) {
	transform: rotate(-23deg) rotateX(180deg) rotateY(180deg);
	top: -2.5vmin;
	left: 10.25vmin;
	border-top: 2vmin solid #fff0;
}

.moustache span:nth-child(10) {
	transform: rotate(-37deg) rotateY(180deg);
	top: -4vmin;
	left: 10vmin;
	border-top: 2vmin solid #fff0;
}

.moustache span:nth-child(11) {
	transform: rotate(-44deg) rotateY(180deg);
	top: -4.5vmin;
	left: 10.5vmin;
	border-top: 2vmin solid #fff0;
}

.moustache span:nth-child(12) {
	transform: rotate(-56deg) rotateY(180deg);
	top: -6vmin;
	left: 10vmin;
	border-top: 2vmin solid #fff0;
}

.moustache span:nth-child(13) {
	transform: rotate(-69deg) rotateY(180deg);
	top: -7vmin;
	left: 10vmin;
	border-top: 2vmin solid #fff0;
}

.moustache span:nth-child(14) {
	transform: rotate(-84deg) rotateY(180deg);
	top: -8vmin;
	left: 10vmin;
	border-top: 2vmin solid #fff0;
}

.hair span {
	width: 5vmin;
	height: 3vmin;
	border-radius: 40% 30% 10%;
	border-top: 0.5vmin solid #000;
	border-right: 2.5vmin solid #000;
	border-left: 1vmin solid #fff0;
	transform: rotate(-80deg) skew(-67deg, 3deg);
	top: 31vmin;
	left: 11vmin;
	filter: drop-shadow(0px 0px 1px black);
}

.hair span:nth-child(4) {
	transform: rotate(-74deg) skew(-67deg, 3deg);
	top: 29vmin;
	left: 12.125vmin;
}

.hair span:nth-child(5) {
	transform: rotate(-90deg) skew(-69deg, 5deg);
	top: 27vmin;
	left: 15.25vmin;
	border-right-width: 3vmin;
}

.hair span:nth-child(6) {
	transform: rotate(-70deg) skew(-69deg, 5deg);
	top: 27vmin;
	left: 16.25vmin;
}

.hair span:nth-child(7) {
	transform: rotate(-66deg) skew(-69deg, 5deg);
	top: 27vmin;
	left: 18.75vmin;
	border-right-width: 3vmin;
}

.hair span:nth-child(8) {
	transform: rotate(-78deg) skew(-69deg, 5deg);
	top: 29vmin;
	left: 22.125vmin;
	border-right-width: 3.25vmin;
}

.hair span:nth-child(9) {
	transform: rotate(-64deg) skew(-69deg, 5deg) scale(0.75);
	top: 29vmin;
	left: 25.125vmin;
	border-right-width: 3.5vmin;
	border-top-width: 0.75vmin;
}

.hair span:nth-child(10) {
	transform: rotate(-70deg) skew(-69deg, 5deg) scale(0.85);
	top: 32.25vmin;
	left: 26.85vmin;
	border-right-width: 3.5vmin;
	border-top-width: 0.75vmin;
}

.hair span:nth-child(11) {
	transform: rotate(-72deg) skew(-69deg, 5deg) scale(0.75);
	top: 34.5vmin;
	left: 28.765vmin;
	border-right-width: 3.5vmin;
	border-top-width: 0.75vmin;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.footer p {
  font-size: 17px;
  font-weight: bold;
  margin: 550px 0 0 550px;
}

/*
.body div {
	width: 13vmin;
	height: 5vmin;
	top: 10vmin;
	left: -9vmin;
}

.body div:before, .body div:after {
	position: absolute;
	content: "";
	background: var(--s1);
	width: 6vmin;
	height: 4vmin;
	border: 1vmin solid #000;
	border-radius: 60% 100% 30% 15%;
	border-bottom: 0;
	border-right: 0;
	transform: rotate(23deg) skew(18deg, -6deg);
	top: 1.5vmin;
	left: 0.5vmin;
	border-top-width: 0.75vmin;
}

.body div:after {
	transform: rotateY(180deg) rotate(46deg) skew(18deg, -6deg);
	left: 5vmin;
	border-top-width: 0.2vmin;
	height: 5vmin;
	background: radial-gradient(circle at 40% 87%, var(--s1) 0 4.1vmin, #000 calc(4.1vmin + 1px) 100%);
}
*/